<form name="form1">
    <div class="row bottom-buffer form-group">
        <div class="col-sm-12 col-md-5">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="logId" placeholder="Log I.D."/>
                <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="searchById()">Search by ID</button>
                    </span>
            </div>
        </div>
    </div>

    <div class="row bottom-buffer form-group">
        <div class="col-sm-12 col-md-5">
            <div class="input-group">
                <select class="form-control"
                        ng-model="seasonSearchRequest.type"
                        ng-options="seasonSearchType.text for seasonSearchType in seasonSearchTypes"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="searchBySeason()">Search by Season</button>
                </span>
            </div>
        </div>
    </div>
</form>

<div class="col-sm-12 columns" ng-show="sliggitySearchResponse.matches.length > 0">
    <table class="table">
        <thead>
        <tr>
            <th>Match Type</th>
            <th>Map</th>
            <th>Length</th>
            <th>Hero</th>
            <th>Level</th>
            <th>MMR</th>
            <th>+/-</th>
            <th>Date</th>
            <th>Time</th>
            <th>Win/Loss</th>
            <th>Season</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="match in sliggitySearchResponse.matches">
            <td>{{match.matchType}}</td>
            <td>{{match.mapName}}</td>
            <td>{{match.matchLength}}</td>
            <td>{{match.heroName}}</td>
            <td>{{match.heroLevel}}</td>
            <td>{{match.matchMakingRating}}</td>
            <td>{{match.ratingAdjustmentPoints}}</td>
            <td>{{match.matchDate}}</td>
            <td>{{match.matchTime}}</td>
            <td>{{match.matchOutcome}}</td>
            <td>{{match.season}}</td>
        </tr>
        </tbody>
    </table>
</div>